h1 {
    font-family: Lacquer;
    color: #f61414;
    text-shadow: 2px 2px black;
}

a {
    color: #f61414;
}

.btn {
    background-color: #7f2bb3;
    color: white;
    text-shadow: 2px 2px black;
}

.btn:hover {
    background-color: #6a1b9a;
    color: white;
}
