.form-check-input {
    border-color: #6a1b9a;
    background-color: #9c27b0;
    box-shadow: 0 0 10px #9c27b0;
}

.form-check-input:checked {
    border-color: #6a1b9a;
    background-color: #6a1b9a;
    box-shadow: 0 0 10px #9c27b0;
}

.form-check-input:not(:checked) {
    border-color: #6a1b9a;
    background-color: #9c27b0;
    box-shadow: 0 0 10px #9c27b0;
}

.form-check-input:hover {
    border-color: #6a1b9a;
    background-color: #66339900;
}

#sanduiche {
    background-color: purple;
}