@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: Lacquer;
  color: #f61414;
  text-shadow: 2px 2px black;
}

a {
  color: #f61414;
  font-size: 20px;
}

form {
  margin-top: 20px;
}

.btn-purple {
  background-color: #663399;
  border-color: #663399;
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px black;
}

.btn:hover {
  background-color: #663399;
  color: gray;
}
